<div class="container">
  <h3>WHAT'S UP WITH THE WEB?</h3>
  <div>
  Application development has come a long way since we were building things for mainframes. The modern era of JavaScript is experiencing a combinatoric explosion of innovation, but also complexity. Whether you are new to front-end development or a seasoned engineer, there are still things to learn about how the web is growing up, and the ways the Angular team is looking to help pull the ecosystem into the future. 

This session will give you background and insights on
    <ul>
      <li>The strange and scary areas of the modern ecosystem</li>
      <li>Our best bets for the future in terms of standards and best practices</li>
      <li>Angular tools and tips for managing complexity</li>
    </ul>
  </div>
</div>
