<div class="container">
  <h3 style="text-transform: uppercase">
    Create Enterprise UIs that your users will love
  </h3>
  <p>
  Traditionally, many companies haven’t had the ability to make UX a strong part of their internal Line-of-Business (LOB) web apps. With the availability of Material Design across many platforms, it is much easier for your development team to create cost-effective LOB apps with quality UX. In this talk, we’ll explore how to use Angular Material to create LOB apps that will delight your users and impress your organization.
  </p>
</div>
